<a href="https://colab.research.google.com/github/cesarrivera52/Examen1/blob/main/Consumer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#César Alejandro Rivera Guzmán  A01567012
#Examen progra
#Consumer

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

from google.colab import files
files.upload()

In [4]:
datac=pd.read_excel('consumer.xlsx')
datac

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,282_payment_method_that_purchase,283_fulfill_needs,300_did_not_find,...,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee,240_gender_interviewee,indicate_the_type_of_store,name_of_the_store,storefront_picture_just_once_if_possible
0,060a856c-e3b8-41a7-b680-9756172d1c29,"November 12, 2022",2022-11-12 22:43:08 UTC,Ulises Núñez Bautista,SRID=4326;POINT(-98.2349802856 19.0598413203),19.059841,-98.234980,Efectivo,no,agua de coco,...,1,0,0,0,0,35,Male,Cafeteria,Paleteria El Carmen,NaN
1,c42fdf22-b93b-443e-8f46-6043613cb0c3,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2335660729 19.05847939),19.058479,-98.233566,Efectivo,yes,NaN,...,1,2,0,35,50,27,Female,Grocery store (aka. nanostore),Gerardo Saénz,NaN
2,3ccaedc0-949e-4555-afad-b2e1d77c3219,"November 12, 2022",2022-11-12 22:15:02 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2303385023 19.0620767997),19.062077,-98.230339,Efectivo,yes,NaN,...,0,0,0,40,25,42,Female,Micro-restaurant (aka. fondita),Rozt,1 Photo
3,91d8a240-af2c-451b-900f-3480f82e05db,"November 12, 2022",2022-11-12 20:41:38 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329163449 19.0555346049),19.055535,-98.232916,Tarjeta de débito y/o crédito,yes,NaN,...,2,3,0,0,0,27,Female,Cafeteria,Café Colibrí,1 Photo
4,3efefc56-bd45-4e4a-bf02-ab725e9fb41a,"November 12, 2022",2022-11-12 19:49:13 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.2329944224 19.0590117522),19.059012,-98.232994,Efectivo,yes,NaN,...,2,5,0,0,50,35,Female,Cafeteria,La fête,1 Photo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,ee7ac407-4767-47b1-93b3-d7e09b49faec,"November 3, 2022",2022-11-03 20:15:32 UTC,Daniel Serrano,SRID=4326;POINT(-98.2671002671 19.0352236761),19.035224,-98.267100,Efectivo,yes,NaN,...,15,10,0,100,100,15,Male,Micro-restaurant (aka. fondita),Taquería don Jorge,1 Photo
111,f65a8190-df80-440e-83bc-2639decfffd0,"November 3, 2022",2022-11-03 20:05:31 UTC,Daniel Serrano,SRID=4326;POINT(-98.2678556442 19.0352804088),19.035280,-98.267856,Efectivo,yes,NaN,...,1,1,0,50,70,21,Female,Cafeteria,La parrilla del lobo,1 Photo
112,70f42238-83b5-4a16-9f2e-a758efb8afb0,"November 3, 2022",2022-11-03 20:04:35 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678617 19.0354511),19.035451,-98.267862,Efectivo,yes,NaN,...,3,2,0,0,0,18,Male,Cafeteria,La Parrilla del lobo,1 Photo
113,e4727f46-797f-4344-b183-0deeed11750f,"November 3, 2022",2022-11-03 20:04:34 UTC,Fernando Gonzálezinactivo,SRID=4326;POINT(-98.2678314 19.0354858),19.035486,-98.267831,Efectivo,yes,NaN,...,2,4,0,30,100,18,Male,Cafeteria,Crudopolis,1 Photo
114,0a5616e1-62cd-4f28-a282-9b34db145752,"November 3, 2022",2022-11-03 19:58:24 UTC,Daniel Serrano,SRID=4326;POINT(-98.2679243758 19.0353989453),19.035399,-98.267924,Efectivo,yes,NaN,...,0,3,0,150,1000,18,Male,Cafeteria,Crudopolis,1 Photo

In [6]:
#Eliminar columnas innecesarias
datac1=datac.drop(["_record_id","_title","_server_updated_at","_geometry","_latitude","_longitude"],axis=1)

In [7]:
fdatac_cual=datac1.iloc[:,[0,1,2,3,4,5,7,8,9,10,11,12,13,14,15,16,17,18,19,26,27,28,29]]

In [8]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
fdatac_cual=fdatac_cual.fillna(method="bfill")

In [9]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
fdatac_cual=fdatac_cual.fillna(method="ffill")

In [10]:
#Identificar valores nulos por columna
valores_nulos=fdatac_cual.isnull().sum()
valores_nulos

_updated_by                                 0
282_payment_method_that_purchase            0
283_fulfill_needs                           0
300_did_not_find                            0
237_distance_household_interviewee          0
299_means_transportation_consumer           0
284_additional_products_store               0
301_electricity_bill                        0
305_electricity_bill_store                  0
302_water_bill                              0
306_water_bill_store                        0
303_gas_bill                                0
307_gas_bill_store                          0
286_topups                                  0
308_topups_in_store                         0
287_wire_transfers                          0
309_wiretransfers_in_store                  0
320_other_services_in_store                 0
304_additional_services_store               0
240_gender_interviewee                      0
indicate_the_type_of_store                  0
name_of_the_store                           0
storefront_picture_just_once_if_possible    0
dtype: int64

In [11]:
fdatac_cuan=datac1.iloc[: , [6,20,21,22,23,24,25] ]

In [12]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=fdatac_cuan

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido 238_frequency_buying_store               6.00
81_number_online_purchases_month         6.00
288_number_app_purchases_month          12.50
289_number_whatsapp_purchases_month      2.50
83_willingness_ultrafast_delivery      102.50
84_willingness_sameday_delivery        231.25
241_age_of_the_interviewee              65.00
dtype: float64
Limite inferior permitido 238_frequency_buying_store              -2.00
81_number_online_purchases_month        -2.00
288_number_app_purchases_month          -7.50
289_number_whatsapp_purchases_month     -1.50
83_willingness_ultrafast_delivery      -37.50
84_willingness_sameday_delivery       -118.75
241_age_of_the_interviewee              -7.00
dtype: float64

In [13]:
data3=fdatac_cuan[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3

,238_frequency_buying_store,81_number_online_purchases_month,288_number_app_purchases_month,289_number_whatsapp_purchases_month,83_willingness_ultrafast_delivery,84_willingness_sameday_delivery,241_age_of_the_interviewee
0,1.0,1.0,0.0,0.0,0.0,0.0,35.0
1,1.0,1.0,2.0,0.0,35.0,50.0,27.0
2,1.0,0.0,0.0,0.0,40.0,25.0,42.0
3,1.0,2.0,3.0,0.0,0.0,0.0,27.0
4,1.0,2.0,5.0,0.0,0.0,50.0,35.0
...,...,...,...,...,...,...,...
110,1.0,NaN,10.0,0.0,100.0,100.0,15.0
111,1.0,1.0,1.0,0.0,50.0,70.0,21.0
112,1.0,3.0,2.0,0.0,0.0,0.0,18.0
113,1.0,2.0,4.0,0.0,30.0,100.0,18.0
114,1.0,0.0,3.0,0.0,NaN,NaN,18.0

In [14]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediana
data3=data3.fillna(round(fdatac_cuan.median(),1))

In [15]:
#Corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

238_frequency_buying_store             0
81_number_online_purchases_month       0
288_number_app_purchases_month         0
289_number_whatsapp_purchases_month    0
83_willingness_ultrafast_delivery      0
84_willingness_sameday_delivery        0
241_age_of_the_interviewee             0
dtype: int64