<a href="https://colab.research.google.com/github/cesarrivera52/Examen1/blob/main/lastmile_delivery_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#César Alejandro Rivera Guzmán  A01567012
#Examen progra
#Last Mile Delivery Operation

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

from google.colab import files
files.upload()

In [31]:
datam=pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')
datam

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),19.056893,-98.233489,14:00,KB-7050-A,Ricolino,...,no,Side,1,NaN,yes,no,NaN,no,no,NaN
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),19.056849,-98.233484,13:50,XC8687A,Marinela,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),19.059677,-98.233916,11:47,SM 20745,La fete,...,no,Side,0,1.0,no,no,NaN,no,no,NaN
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),19.062695,-98.228567,11:45,SP35169,Barcel,...,no,Rear,2,NaN,yes,no,NaN,no,no,NaN
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),19.062724,-98.231397,11:41,SN89460,NaN,...,no,Rear,2,NaN,no,no,NaN,no,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),19.043612,-98.194933,10:36,HL-3785-F,NaN,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
178,5656a189-19f5-45a7-b53b-1a3db0de6571,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),19.043607,-98.194856,10:33,SP-29-798,NaN,...,no,Side,0,NaN,no,no,NaN,no,no,NaN
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),19.043336,-98.194503,11:19,05-AP-6G,Infra,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),19.043576,-98.194873,11:03,LE-88-707,Alpura,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),19.043590,-98.194901,11:00,HL-3785-F,Bimbo,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN

In [32]:
#Eliminar columnas innecesarias
datam1=datam.drop(["_record_id","_updated_by","_title","_server_updated_at","_geometry","_latitude","_longitude","picture_of_the_parked_freight_vehicle","describe_the_accident","maximum_number_of_vehicles_in_the_traffic_jam"],axis=1)

In [33]:
datam1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 19 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   arrival_of_the_freight_vehicle       182 non-null    object
 1   plates                               181 non-null    object
 2   company_if_visible                   109 non-null    object
 3   visit_purpose                        182 non-null    object
 4   type_of_vehicle                      182 non-null    object
 5   number_of_operators                  182 non-null    int64
 6   refrigerated_truck                   182 non-null    object
 7   type_of_cargo                        182 non-null    object
 8   departure_of_the_freight_vehicle     182 non-null    object
 9   where_was_the_vehicle_parked         182 non-null    object
 10  while_parked_was_the_engine_running  182 non-null    object
 11  used_traffic_cone                    182 non-null    object
 12  vehicles_unloading_door              182 non-null    object
 13  number_of_available_trolleys         182 non-null    int64
 14  serving_customer                     35 non-null     float64
 15  garage_blocking                      182 non-null    object
 16  accident                             182 non-null    object
 17  noise                                182 non-null    object
 18  traffic_congestion                   182 non-null    object
dtypes: float64(1), int64(2), object(16)
memory usage: 27.1+ KB

In [41]:
#Filtro para separar variables cualitativas
fdatam_cual=datam1.iloc[:,[0,1,2,3,4,6,7,8,9,10,11,12,15,16,17,18]]

In [42]:
#Filtro para separar variables cuantitativas
fdatam_cuan=datam1.iloc[:,[5,13,14]]

In [43]:
#Sustituir valores nulos por valores no nulos hacia adelante forward fill" ("ffill")
fdatam_cual=fdatam_cual.fillna(method="bfill")

In [44]:
#Identificar valores nulos por columna
valores_nulos=fdatam_cual.isnull().sum()
valores_nulos

arrival_of_the_freight_vehicle         0
plates                                 0
company_if_visible                     0
visit_purpose                          0
type_of_vehicle                        0
refrigerated_truck                     0
type_of_cargo                          0
departure_of_the_freight_vehicle       0
where_was_the_vehicle_parked           0
while_parked_was_the_engine_running    0
used_traffic_cone                      0
vehicles_unloading_door                0
garage_blocking                        0
accident                               0
noise                                  0
traffic_congestion                     0
dtype: int64

In [45]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=fdatam_cuan

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido number_of_operators             3.5
number_of_available_trolleys    2.5
serving_customer                1.0
dtype: float64
Limite inferior permitido number_of_operators            -0.5
number_of_available_trolleys   -1.5
serving_customer                1.0
dtype: float64

In [46]:
data3=fdatam_cuan[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3

     number_of_operators  number_of_available_trolleys  serving_customer
0                    1.0                           1.0               NaN
1                    2.0                           1.0               NaN
2                    1.0                           0.0               1.0
3                    1.0                           2.0               NaN
4                    2.0                           2.0               NaN
..                   ...                           ...               ...
177                  1.0                           0.0               NaN
178                  1.0                           0.0               NaN
179                  1.0                           1.0               NaN
180                  2.0                           0.0               NaN
181                  2.0                           1.0               NaN

[182 rows x 3 columns]

In [47]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con la media
data3=data3.fillna(round(fdatam_cuan.median(),1))

In [48]:
#Identificar valores nulos por columna
valores_nulos=data3.isnull().sum()
valores_nulos

number_of_operators             0
number_of_available_trolleys    0
serving_customer                0
dtype: int64